<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="Card-Container">
        <img src="../../../Assets/Images/Banana.png" alt="" class="Icon-Card">
        <h2 class="Title-Content">Desarrollo Web </h2>
        <p class="Content-text">Construimos experiencias web completas, desde páginas que venden hasta productos web interactivos.</p>
        <div class="Banner-Container">
             <img src="../../../Assets/Images/FlowerBanner.png" alt="" class="Banner-Card">
        </div>
       

    </div>
</body>
</html>