<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mockup.css">
</head>
<body>
    <div class="Title-Content">
        <img src="../../../Assets/Images/maybe 3.svg" alt="" class="Icon">
        <h1 id ="title">Acompañamiento real </h1>
    </div>
    <div class="grid-container">
    <p id="left"> Trabajamos contigo, <br> no "para ti".</p>
    <p id="right"> Decisiones rápidas con contexto claro </p>
    </div>
</body>
</html> 