@import "tailwindcss";

:root {
  --bg: 255, 255, 255;
  --bg-toggle: 249, 249, 249;
  --text-toggle: 147, 147, 147;
  --bg-selected: 0, 0, 0;
  --text-selected: 255, 255, 255;
  --bg-primary-card: 206, 83, 104;
  --text-card: 255, 255, 255;
  --bg-secondary-card: 143, 52, 67;
  --bg-thirdary-card: 247, 130, 149;
  --bg-hero-secondary: 217, 136, 143;
}


@font-face {
  font-family: "Indivisible";
  src: url("./assets/fonts/fonnts.com-Indivisible_Variable.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Indivisible", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* ===================== */
/* FIREFOX */
/* ===================== */
* {
  scrollbar-color: #E4204E transparent;
}

/* ===================== */
/* WEBKIT */
/* ===================== */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #F78295;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #E4204E;
}