<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
</head>
<body>
    <nav class="Navbar">
            <div class="division-navbar">
                <i>
                    <img src="../Assets/Images/Logo.svg" alt="Logo" />
                </i>
            </div>
            <div class='Links-Navbar'>
                <ul class="ul-navbar">
                    <li><a href="#home">Servicios</a></li>
                    <li><a href="#services">Proyectos</a></li>
                    <li><a href="#aboutus">Nosotros</a></li>
                    <button class="btn-navbar">
                        <a href="#contact">Contáctanos</a>
                    </button>
                                        
                </ul>
            </div>
    </nav>

    <div class="Main-Content">
        
    </div>
</body>
</html>